@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Daniel's Resturant Review's</h1>
    <p class="lead">This site allows you to share your dining experience and learn from Others.</p>
    <!--<p><a href="~/Home/GetAll"Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            View our List of Resturants.  Don't see it?  Add it! Then share your experience.
        </p>
        <p><a class="btn btn-default" href="~/Home/GetAll">View List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Resturants By State</h2>
        <p>Find Resturants Near You.</p>
        <p><a class="btn btn-default" href="~/Home/State">State &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Resturants by Name</h2>
        <p>Get Resturants By Name.</p>
        <p><a class="btn btn-default" href="~/Home/Name">Name &raquo;</a></p>
    </div>
</div>